In [21]:
#Connect to Hive to extract MetaData 

# Convert MetaData file to List of List


import string
import random
import datetime
import pandas as pd


def VarcharGen(size=6, chars=string.ascii_uppercase + string.digits):
    return ''.join(random.choices(chars, k=size))

def NumberGen(size=5):
    range_start = 10**(size-1)
    range_end = (10**size)-1
    return random.randint(range_start, range_end)

def DateGen(start=datetime.datetime.strptime('01011991', '%d%m%Y').date(),end=datetime.datetime.strptime('31122018', '%d%m%Y').date()):
    random_date = start + (end - start) * random.random()
    return random_date

def DoubleGen(precision=3,scale=2):
    range_start = 10**(precision-1)
    range_end = (10**precision)-1
    return round(random.uniform(range_start, range_end),scale)

def Datatypefunc(datatypevalue,size=0):
    if datatypevalue.upper() == 'DATE':
        return DateGen()
    elif datatypevalue.upper() =='VARCHAR':
        return VarcharGen(size)
    elif datatypevalue.upper() == 'NUMBER':
        return NumberGen(size)
    else:
        return DoubleGen(int(size),round((size-int(size))*10**(len(str((size)))-len(str(int(size)))-1)))


Metadata = [['Name','varchar',10],['Age','number',2],['Date','Date',0],['Salary','Double',5],['Emp_ID','varchar',10], ['Loan_Number','number',10]]
NumofRows=10

data=[]

for i in range(NumofRows):
    rowdata=[]
    rowdata.append(i+1)
    for j in range(len(Metadata)):
        rowdata.append(Datatypefunc(Metadata[j][1],Metadata[j][2]))
    data.append(rowdata)

print(data)

FinalDF = pd.DataFrame(data,columns = ['Row_Number','Name','Age','Date','Salary','Emp_ID','Loan_No'])

FinalDF.to_csv('test_data.csv',index = False)

# Nullable and Key Feature

#Save the Data to DataFrame

# Save DataFrame in CSV/Json Format

[[1, 'GV8N1C60MU', 53, datetime.date(1997, 8, 14), 94966.0, '99IP3HRMU3', 3843093248], [2, '4DRNZQGH5B', 98, datetime.date(2012, 9, 2), 64705.0, 'OH0GWI8031', 1002242528], [3, 'O6U7CUUCCF', 85, datetime.date(1999, 1, 19), 29812.0, 'LBWPKCQWOZ', 5697155228], [4, '5YPK8E9G4X', 19, datetime.date(2006, 1, 23), 45495.0, 'UT58EFNZWV', 7878666535], [5, 'TX51GSBNBG', 70, datetime.date(1998, 7, 19), 74927.0, 'BON5NEAI6S', 8508543558], [6, '80M6CR3D5A', 62, datetime.date(2017, 5, 6), 41544.0, 'QUT8YUTEGG', 1201228718], [7, 'TE7XWN2CJK', 87, datetime.date(1998, 11, 21), 10281.0, 'K8IKBK12YB', 1362885932], [8, 'HODO9IR6G4', 86, datetime.date(2008, 7, 30), 73254.0, '7732TVWVP7', 2080152134], [9, 'IYB4EE29XY', 20, datetime.date(2004, 10, 26), 38270.0, 'NARN91L4VR', 3617147709], [10, 'CZBGHK8SMS', 62, datetime.date(2012, 1, 23), 57493.0, 'FLNSSR3HXF', 6744957223]]

In [22]:
FinalDF.head(2)

   Row_Number        Name  Age        Date   Salary      Emp_ID     Loan_No
0           1  GV8N1C60MU   53  1997-08-14  94966.0  99IP3HRMU3  3843093248
1           2  4DRNZQGH5B   98  2012-09-02  64705.0  OH0GWI8031  1002242528

In [14]:
!ls

ExistingHotels_CustomerVisitsdata-1554810038262.csv
Existing_Hotel_Visualizations.ipynb
ML_PHD_Visualizations.ipynb
NewHotels_CutstomerVisitsdata-1554810098964.csv
Test_Data_Generation.ipynb
Train-1554810061973.csv
Train_EDA_Visualizations.ipynb
test_data.csv

In [19]:
!head -11 test_data.csv

Row_Number,Name,Age,Date,Salary,Emp_ID,Loan_No
1,I5YL31JXAL,83,1992-11-11,97350.094,D9XQWB9MWI,5378122108
2,JQ11QU72S3,36,2012-01-24,39468.6399,07ZEOHVF1M,7803698507
3,361FUIJX1C,63,2014-05-17,18757.6214,83TDCMGTVG,1224345493
4,4DMH7PNT3L,47,1997-09-19,75855.3906,MFRT19QT2O,4825514222
5,ZX0EJJW9W4,40,2005-10-27,82698.1141,7NK2J2H60O,7850535972
6,2LMNQWGSOG,17,2013-10-01,65745.4285,UBHUM05173,6949140952
7,SLMMUY62M8,99,1997-08-09,18511.3961,XNG1C9ASLR,5511419787
8,WZM4VOQ8UJ,67,2008-10-26,39009.8381,A46PQNC83A,9298174847
9,SFJ4FQTJ0M,56,2017-06-30,26052.5545,NS50DJC2GY,3138288868
10,TB1UZYE49C,65,1992-01-04,84229.6015,54CD6DPLTN,1396352595